<%- include('../partials/header.ejs') %>

<div class="container">
    <% if (user) { %>
        <h2>Welcome, <%= user.firstName %>!</h2>
    <% } else { %>
        <h2>User info not available</h2>
    <% } %>
    
    <% if (items && items.length) { %>
        <p>You have created the following items:</p>
        <ul>
            <% items.forEach(item => { %>
                <li>
                    <a href="/items/<%= item._id %>"><%= item.title %></a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>You have not created any items.</p>
    <% } %>
</div>

<%- include('../partials/footer.ejs') %>
